#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.seller-login-form {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.seller-login-form h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Didact Gothic";
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
    width: 20%;
    display: inline-block;
    font-size: 20px;
}

.form-group input {
    width: 80%;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #dadada;
}

.form-group input:hover,
.form-group input:focus {
    border: 1px solid grey;
    outline: none;
}

.seller-login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.seller-login-form button[type="submit"]:active {
    background-color: #007bffe0;
}

.change-mode {
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.change-mode a {
    color: #ff5100;
    text-decoration: none;
}

@media (max-width: 600px) {
    .seller-login-form {
        max-width: 100%;
        margin: 10px;
    }
}