.address-head {
    width: 100%;
    font-size: 32px;
    background: white;
    padding: 1rem;
    font-family: "Didact Gothic";
    text-align: center;
}

.address-head img {
    object-fit: contain;
}

.address-auto-locate {
    padding: 0.7rem;
    color: white;
    background-color: #2976ff;
    border-radius: 5px;
    font-size: 15px;
    display: block;
    border: none;
}

.address-tab {
    padding: 0.2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.no-saved-addresses {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.saved-address-head {
    font-size: 25px;
    font-family: "Didact Gothic";
}

.savedaddress-name {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.address-saved-glimpse {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.savedaddress-type {
    text-align: center;
    background-color: #dadada;
    padding: 0.2rem;
    text-transform: capitalize;
    border-radius: 5px;
    padding-left: 0.4rem;
    margin: 0 0.5rem;
    color: dimgrey;
}

.address-float-right {
    float: right;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    padding: 5px;
}

.address-float-right:hover {
    color: #2976ff;
}

.address-float-delete:hover {
    color: red;
}

.address-select-label {
    cursor: pointer;
}

.address-label {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    padding-left: 0;
}

.address-input {
    width: 100%;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border: 1px solid #dadada;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.address-input:hover,
.address-input:focus {
    border: 1px solid grey;
}

.address-textarea {
    resize: vertical;
}

.form-item-small {
    width: 49%;
    margin-right: 1%;
    display: inline-block;
}

.address-input-radio {
    margin-top: 10px;
}

.address-label-radio {
    margin-left: 10px;
    margin-right: 50px;
}

.newAddress-btn {
    width: 49%;
    padding: 1rem;
    cursor: pointer;
    font-size: 20px;
    margin-top: 2rem;
    margin-right: 1%;
    color: #191817;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #00d4ff;
    transition: transform 0.2s ease;
}

.newAddress-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.newAddress-btn:hover {
    background-color: #00c7ef;
}

.newAddress-bordered {
    border: 2px solid #00d4ff;
    background-color: white;
}

.newAddress-bordered:hover {
    border: 2px solid #00c7ef;
    background-color: #fff;
}

.newAddress-btn:active {
    transform: scale(0.99);
}

@media only screen and (max-width: 650px) {
    .savedaddress-mobile {
        width: 50%;
        display: inline-block;
    }

    .address-float-right {
        padding: 1rem;
    }

    .address-full {
        display: inline-block;
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .savedaddress-mobile {
        display: flex;
        width: fit-content;
        margin-left: 23px;
        margin-top: 5px;
    }

    .address-float-right {
        margin: 0;
        bottom: 45px;
        left: 85px;
        width: 80px;
        color: white;
        margin-left: 5px;
        border-radius: 5px;
        position: relative;
        padding: 0.5rem 0.9rem;
        border: 1px solid #2976ff;
        background-color: #2976ff;
    }
    .address-float-delete{
        left: 0;
        bottom: 5px;
        color: black;
        border: 1px solid red;
        background-color: #fff;
    }

    .form-item-small{
        width: 99%;
    }
    .address-input-radio{
        width: 8%;
    }
    .address-label-radio{
        margin: 0;
        width: 92%;
        display: inline-block;
    }
    .newAddress-btn{
        width: 100%;
        margin-top: 10px;
    }
    .newAddress-bordered{
        margin-top: 20px;
    }
    .address-fulll-para{
        margin-bottom: -20px;
    }
    .address-label-full{
        position: relative;
        bottom: 15px;
        margin-bottom: -20px;
        margin-left: 24px;
    }
}