.cart-products {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
}

.cart-top {
    width: 70%;
    float: left;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow-x: hidden;
    width: 100%;
    user-select: none;
}

.options h3 {
    font-size: 30px;
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 1rem 0;
    font-family: "Didact Gothic";
    cursor: pointer;
}

.options h3:after {
    content: "";
    display: block;
    height: 5px;
    margin-top: 8px;
    margin-bottom: -16px;
    border-radius: 3px;
    width: 60%;
    margin-left: 20%;
    transform: scaleX(0);
    background-color: #0066ff;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.options h3:hover:after,
.cart-active:after {
    transform: scaleX(1) !important;
}

.cart-bottom {
    margin-top: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 1rem;
    width: 100%;
    float: left;
    user-select: none;
}

.cart-sum {
    padding: 1rem;
    width: 29%;
    border-radius: 5px;
    height: fit-content;
    background-color: white;
    position: sticky;
    float: right;
    top: 10px;
    user-select: none;
}

.cart-sum h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Didact Gothic", sans-serif;
}

.cart-sum p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
}

.cart-line-through {
    text-decoration: line-through;
    color: grey;
}

.cart-summary-seperator {
    margin-top: 15px;
    background-color: transparent;
}

.cart-place-order {
    float: right;
    padding: 0.7rem;
    border: none;
    font-size: 20px;
    width: 100%;
    color: #191817;
    background: #ffc356;
    border: 2px solid #ffc356;
    border-radius: 10px;
}

.cart-place-order:hover {
    border: 2px solid #ffc356;
}

.cart-place-order:active {
    border: 2px solid #191817;
}

.cart-place-order:disabled{
    opacity: 0.8;
}
#confirm-remove-modal {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateY(-110%);
    transition: transform 0.2s ease-out;
    background-color: transparent;
}

.confirm-product-remove {
    display: block;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 1em 0.25em #75757563, 0 0 1em .5em #75757563;
    padding: 3vh;
    border-radius: 5px;
}

.confirm-product-remove h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.confirm-product-remove button {
    width: 48%;
    margin: 2% 1%;
    height: 43px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

#cart-confirm-remove {
    margin-top: 30px;
    background-color: rgb(245, 102, 102);
    color: white;
}

#cart-confirm-remove:active {
    background-color: rgb(255, 63, 63);
}

#cart-cancel-remove:active {
    background-color: rgb(214, 214, 214);
}

.cart-item {
    border: 1px solid #dadada;
    padding: 1rem 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-product-main {
    display: flex;
    text-transform: capitalize;
}

.cart-product-image {
    width: 100px;
    object-fit: contain;
    max-height: 150px;
    user-select: none;
}

.cart-product-details {
    font-family: "Didact Gothic";
    margin-left: 2.5rem;
}

.cart-product-details h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.cart-product-details a {
    text-decoration: none;
    color: black;
}

.cart-product-details a:hover {
    color: #2976ff;
}

.cart-product-details p {
    margin-bottom: 5px;
    font-size: 18px;
}

.cart-sum .cart-grand-total {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 5px;
    font-family: "Didact Gothic";
}

#cart-product-sp {
    color: green;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.cart-product-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-product-extra button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-right: 15px;
    background-color: transparent;
    color: grey;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cart-product-extra button:hover {
    color: rgb(57, 106, 212);
}

#remove-product-button:hover {
    color: red;
}

#cart-product-quantity {
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

#cart-product-quantity:focus {
    border: 1px solid black;
}

.empty-cart-img {
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.cart-quantity-box button {
    all: unset;
    padding: 0px 10px;
    margin: 0 5px;
}

.cart-quantity-box button:disabled:hover {
    color: grey;
    cursor: not-allowed;
}

.cart-quantity-box button:hover {
    transform: scaleX(1.3);
}

#cart-item-quantity {
    font-size: 18px;
    font-weight: 400;
    width: 20px;
    text-align: center;
}

.cart-quantity-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.cart-product-extra .cart-wishlist-btn {
    margin-top: 50px;
}

.cart-color-green {
    color: green;
}

.cart-sum-right {
    float: right;
}