.cart-products{
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
}
.cart-top{
    width: 70%;
}
.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow-x: hidden;
    width: 100%;
}

.options h3 {
    font-size: 30px;
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 1rem 0;
    font-family: "Didact Gothic";
    cursor: pointer;
}

.options h3:after {
    content: "";
    display: block;
    height: 5px;
    margin-top: 8px;
    margin-bottom: -16px;
    border-radius: 3px;
    width: 60%;
    margin-left: 20%;
    transform: scaleX(0);
    background-color: #0066ff;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.options h3:hover:after,
.cart-active:after {
    transform: scaleX(1) !important;
}
.cart-bottom{
    margin-top: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 1rem;
    width: 100%;
}
.cart-sum{
    padding: 1rem;
    width: 29%;
    font-size: 30px;
    border-radius: 5px;
    height: fit-content;
    background-color: white;
}
.cart-summary-seperator{
    margin-top: 15px;
    background-color: grey;
}

.cart-item{
    border: 1px solid #dadada;
    padding: 1rem 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cart-product-main {
    display: flex;
}
.cart-product-image{
    width: 100px;
    object-fit: contain;
}
.cart-product-details{
    font-family: "Didact Gothic";
    margin-left: 2.5rem;
}
.cart-product-details h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.cart-product-details p{
    margin-bottom: 5px;
    font-size: 18px;
}
.cart-product-extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-product-extra button{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid skyblue;
    margin-top: 10px;
    background: skyblue;
    color: white;
}
.cart-product-extra .remove-product{
    background: red;
    border: 1px solid red;
    color: white;
}