.form-payment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    user-select: none;
}

.form-container {
    font-size: 20px;
    padding: 0.5rem;
}

.form-button-container {
    display: block;
    margin: 0 auto;
}

.button-payment-confirm {
    padding: 1rem;
    font-family: "Syne";
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid #ffc356;
    background-color: #ffc356;
    color: #191817;
}

.button-payment-confirm:active {
    border: 2px solid #191817;
}

.button-payment-confirm:disabled {
    opacity: 0.8;
}

.payment-input-radio {
    margin-right: 10px;
}

.payment-warning-message {
    color: red;
    margin-top: 20px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.with-razorpay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-razorpay label {
    white-space: nowrap;
}