
.not-found-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: white;
    background: #000;
}

.not-found-heading{
    font-size: 15rem;
    font-family: "Abril Fatface"; 
}

.not-found-line{
    color: white;
    width: 34%;
    margin-bottom: 20px;
}

.not-found-para{
    font-family: "Abril Fatface"; 
    font-size: 2rem;
}
.not-found-home{
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}
.not-found-home:hover{
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44);
}
@media only screen and (max-width: 900px) {
    .not-found-heading {
        font-size: 10rem;
    }
    .not-found-line {
        width: 70%;
    }
    .not-found-para {
        font-size: 1.2rem;
    }
}