#content{
    margin: 0 auto;
    width: 98%;
    background: #dadada;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
#filters{
    width: 20%;
    background: #fff;
    height: 100%;
    padding: 0.5%;
    border-radius: 5px;
    translate: none;
}
.category{
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 3%;
    font-family: "Didact Gothic";
    margin-top: 2%;
}
.category:nth-child(1){
    margin-top: 0;
}
.category h3{
    padding-left: 2%;
}
.category-list{
    list-style: none;
    border-top: 1px solid #dadada;
    margin: 2%;
}
.category-list li{
padding: 2% 0;
}
.category-list li a{
    text-decoration: none;
    color: black;
    padding: 2% 0;
}
.price-range select{
    width: 40%;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-top: 15px;
    height: 25px;
}
#price-seperator{
    font-weight: 300;
    color: #868686;
    margin: 0 5%;
}
.category-label{
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
}
#brand-list li:nth-child(1){
    margin-top: 10px;
}
.product-lists{
    width: 79.5%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 1%;
}
.product-lists-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#product-sorts{
    outline: none;
    border: 1px solid #868686;
    border-radius: 5px;
    width: 160px;
    padding: 1%;
    height: 40px;
}
#product-count{
    color: #868686;
    font-size: 1.1rem;
    padding-right: 10px;
}
.product-map{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Didact Gothic";
    padding: 1%;
    gap: 1%;
}
.d-none{
    display: none;
}
.product-box{
    color: black;
    text-decoration: none;
    transition: all 0.2s ease; 
    border: 1px solid white;
    border-radius: 5px;
    padding: 2%;
    margin-top: 1%;
}
.product-box h3, .product-box p{
    padding-left: 5%;
}
.product-box:hover{
    border: 1px solid #dadada;
    box-shadow: 0px 5px 15px rgb(0,0,0,0.11);
}
.product-box img{
    width: 200px;
    object-fit: contain;
    max-height: 230px;
    padding: 5%;
}
.filter-btn{
    display: none;
}
@media only screen and (max-width: 900px){
    .poster:nth-child(1){
        margin-top: 10px;
    }
    #filters{
        width: 100%;
        padding: 0;
        margin-top: -32px;
        position: fixed;
        z-index: 5;
        transform: translateY(110%);
        overflow-y: scroll;
        transition: transform 0.3s ease;
        border-radius: 0;
    }
    .category{
        margin-top: 0;
    }
    .category:last-child{
        padding-bottom: 50px;
    }
    .filter-btn, #product-sorts{
        display: inline-block;
        position: fixed;
        background: white;
        color: black;
        z-index: 5;
        bottom: 0;
        height: 50px;
        width: 50%;
        outline: none;
        border: none;
        border-top: 1px solid black;
    }
    #left-sort{
        z-index: 5;
        border-right: 1px solid black;
    }
    #product-sorts{
        appearance: none;
        border-radius: 0px;
        border-right: 1px solid black;
        left: 0;
        z-index: 6;
        color: transparent;
        background: transparent;
    }
    #right-filter{
        right: 0;
        z-index: 6;
    }
    .product-lists{
        width: 100%;
        padding-top: 6%;
        margin-top: 100px;
        margin-bottom: -10.5%;
        border-radius: 0;
        min-height: 100vh;
    }
    .product-map{
        justify-content: space-between;
    }
    .product-box img{
        width: 165px;
    }
    .product-box{
        padding: 5% 2%;
        margin-bottom: 3%;
    }
    #product-count{
        display: none;
    }
    #content{
        margin: 0;
        width: 100%;
    }
} 