.slide {
  width: 98%;
  height: fit-content;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  margin-top: 1%;
}

.slide h3 {
  font-family: "Syne";
  color: #000;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  padding: 20px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: 95%;
  scroll-behavior: smooth;
  background: #fff;
  margin: 1%;
  margin-bottom: 0;
}

.d-none {
  display: none;
}

.flexbox::-webkit-scrollbar {
  height: 3px;
  display: none;
}
.btn-flexbox {
  border: none;
  width: 30px;
  height: 60px;
  position: absolute;
  border-radius: 5px;
  background: white;
  z-index: 2;
  color: black;
}

.btn-flexbox:hover {
  background: #fff;
}

.left-flexbox {
  left: 2%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: none;
}

.right-flexbox {
  right: 4.2%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-container h3 {
  display: inline-block;
}

.view-more-btn {
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 2%;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  background-color: #0066ff;
}

@media only screen and (max-width: 900px) {
  .btn-flexbox {
    display: none;
  }
  .flexbox {
    margin-left: 1%;
  }
  .slide h3 {
    padding: 10px;
  }
  .view-more-btn{
    padding: 0.3rem 0.5rem;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .right-flexbox {
    right: 3.5%;
  }
}
