@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Syne:wght@400;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body{
  overflow-x: hidden;
  height: 100%;
  background-color: #dadada;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #dadada;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #727272;
}

.center-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.center-loader h3{
  font-family: "Didact Gothic";
  font-weight: 600;
  font-size: 25px;
}