*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body{
  overflow-x: hidden;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #dadada;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #727272;
}

