body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.health-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  gap: 1rem;
}

.health-loading h1 {
  font-size: 2rem;
  letter-spacing: -0.025em;
  font-weight: 700;
  margin-top: 1rem;
}

.health-loading span {
  color: grey;
}

.service-unavailable {
  background-color: white;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-unavailable h1 {
  font-size: 2rem;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-top: 1rem;
}

.service-unavailable p {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 2rem;
}

.service-unavailable img {
  object-fit: contain;
  user-select: none;
}